<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haut.music.mapper.UserMapper">

    <select id="verifyPassword" resultType="java.lang.Integer">
        select count(*)
        from userlogin
        where username = #{username} and password = #{password}
    </select>

    <select id="findUidByUsername" resultType="java.lang.Long">
        select u_id From userlogin where username=#{username}
    </select>

    <insert id="generateUser">
        insert into userlogin(u_id,username,password) values(#{uid},#{username},#{password})
    </insert>

    <select id="generateRamUser" resultType="java.lang.Long">
        SELECT u_id FROM user order by rand() limit 10
    </select>
</mapper>